<script>
    n = new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("DateOfAppointment").innerHTML = d + "-" + m + "-" + y;
</script>

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Hi, {{loggedUserName | titlecase }}</h3>
            <p class="blue-text"> Choose a date to see the
                <br> respective appointments.
            </p>
            <div class="card">                
                <form class="form-card"name="docform" #form="ngForm" (ngSubmit) = "readForm(form)">
                    <div class="row justify-content-between text-left">                        
                       
                        <div class="form-group form-group col-sm-8 flex-column d-flex">        
                            <input type="date" name="DateOfAppointment" id="DateOfAppointment"  
                            #DoJ="ngModel" 
                            [(ngModel)]="doctorHelperService.currentDoctor.DateOfAppointment"     
                            class="form-control"                            
                            required
                            />
                        </div>

                        <div class="form-group col-sm-4">
                            <button type="submit"
                            class="btn-block btn-primary form-control"> 
                            Submit
                            </button>
                        </div>
                        
                        <div class="row text-center align-items-center">
                            <br>
                            <div class="col-sm-3 text-center align-items-center">
                                <a [routerLink]="['../doctors']">
                                <button type="button"
                                class="btn-block btn-secondary form-control"> 
                                Back
                                </button>
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>