<div class="container">
    
    <div class="header">
        
        
        <div class="row">
            <div class="h-100 row align-items-center text-center">
                <div class="col">
                    <br>
                    <h5>Patient Prescription History</h5>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <input class="form-control" type="text" 
                    placeholder="Enter search term"
                    [(ngModel)] = "filter"/>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <input class="form-control" type="date" 
                    placeholder="Search"
                    [(ngModel)] = "filter"/>
                </div>
            </div>
        </div>
    </div>

    <br>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th> 
                <th>Date</th>
                <th> Doctor </th>
                <th> Medical Notes </th>
                <!-- <th> Test Notes </th> -->
                <th> Medicine </th>
                 <!--<th> Dosage </th> -->
                <th> Frequency </th>
                <th> Days </th>                  
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let item of doctorHelperService.prescriptionHistory | filter : filter | 
            paginate: {itemsPerPage: 5,currentPage: page}">

                 <!--
                <ng-container *ngIf = "emp.IsActive">
                -->
                <!-- <*ngIf = "emp.IsActive"> -->
                <td (click) = "populateForm(item)">  {{item.PrescriptionId}}  </td>                
                <td (click) = "populateForm(item)">  {{item.PrescriptionDate | date:'mediumDate'}}  </td>
                <td (click) = "populateForm(item)">  {{item.StaffName}}  </td>    
                <td (click) = "populateForm(item)">  {{item.DoctorNotes}}  </td>    
                <!-- <td (click) = "populateForm(item)">  {{item.TestDetails}}  </td>   --> 
                <td (click) = "populateForm(item)">  {{item.MedicineName}}  </td>    
                 <!-- <td (click) = "populateForm(item)">  {{item.MedicineDosage}}  </td>   --> 
                <td (click) = "populateForm(item)">  {{item.DosageFreq}}  </td>    
                <td (click) = "populateForm(item)">  {{item.NoOfDays}}  </td> 
            </tr>
        </tbody>

    </table>

    <div class="footer" style="text-align: center;">
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>

    
    <div class="container align-items-center">
        <div class="row text-center align-items-center">
            <br>
            <br>
            <div class="col-sm-3 text-center align-items-center">
                <a [routerLink]="['../doctorListPatientsByDate']">
                <button type="button"
                class="btn btn-secondary form-control"> 
                Back
                </button>
                </a>
            </div>
    
            <br>
            <div class="col-sm-3 text-center align-items-center">
                <a [routerLink]="['../doctors']">
                <button type="button"
                class="btn btn-secondary form-control"> 
                Home
                </button>
                </a>
            </div>
        </div>
    </div>


</div>