<div class="container">
    <div class="box">
        <div class="header">
            <h5>Staff Info</h5>
            <!--Search Functionality-->
            <br>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search here" [(ngModel)]="filter">
            </div>
            <!-- <a [routerLink]="['./stafflist']" class="btn btn-primary" style="float: right; margin-bottom: 10px;">Add Staff</a>-->
        </div>
        <hr>
        <table class="table table-primary table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Address</th>
                    <th>Date Of Join</th>
                    <th>Mobile</th>
                    <th>Experience</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let staff of staffService.staffs | filter: filter | paginate: {itemsPerPage: 5, currentPage: page}">
                    <ng-container *ngIf="staff.Isactive">
                        <td (click)="populateForm(staff)">{{staff.StaffId}}</td>
                        <td (click)="populateForm(staff)">{{staff.StaffName}}</td>
                        <td (click)="populateForm(staff)">{{staff.Gender}}</td>
                        <td (click)="populateForm(staff)">{{staff.DateOfBirth | date:'dd-MM-yyyy'}}</td>
                        <td (click)="populateForm(staff)">{{staff.Address}}</td>
                        <td (click)="populateForm(staff)">{{staff.DateOfJoin | date:'dd-MM-yyyy'}}</td>
                        <td (click)="populateForm(staff)">{{staff.Mobile}}</td>
                        <td (click)="populateForm(staff)">{{staff.Experience}}</td>
                        <td>
                            <button class="btn btn-sm btn-outline-danger"
                                (click)="deleteStaff(staff.StaffId)">X</button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="updateStaff(staff.StaffId)">Edit</button>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
        <div class="footer">
            <!--Pagination-->
            <pagination-controls (pageChange)="page=($event)"></pagination-controls>
        </div>
        <button class="btn btn-md btn-primary" type="reset" (click)="back()">Back</button>
    </div>
</div>