<div class="form">
    <form name="labForm" #labForm="ngForm" (ngSubmit)="onSubmit(labForm)">

        <!--Lab Technician Id-->
        <div class="form-group">
            <label for="LabtechnicianId">Labtechnician Id</label>
            <input type="text" name="LabtechnicianId" #LabtechnicianId="ngModel"
            [(ngModel)]="techService.formLabT.LabtechnicianId" class="form-control" required
            [ngClass]="{'is-invalid': LabtechnicianId.touched && LabtechnicianId.invalid}"
            />
            <div class="validation-errors" *ngIf="LabtechnicianId.touched && LabtechnicianId.invalid">
                <div *ngIf="LabtechnicianId.errors.required">Labtechnician Id is required</div>
            </div>
            </div>
        

            <!--Department Id-->
            <br>
        <div class="form-group">
            <label for="DepartmentId">Department</label>
           <select
            name="DepartmentId" id="DepartmentId" class="form-control" #DepartmentId="ngModel" required
            [(ngModel)]="techService.formdep.DepartmentId">
            <option value=0 disabled>Choose Department</option>
            <option *ngFor="let dept of techService.departments" value="{{dept.DepartmentId}}">{{dept.DepartmentName}}</option>

           </select>
            <div class="validation-errors" *ngIf="DepartmentId.touched && DepartmentId.invalid">
                <div *ngIf="DepartmentId.errors.required">Department is required</div>
            </div>
            </div>

            
                <!--Isactive-->
                <br>
                <div class="form-group">
                    <label for="Isactive">Is active</label>
                    <input type="checkbox" name="Isactive" #Isactive="ngModel"
                    [(ngModel)]="techService.formLabT.Isactive" required
                    [ngClass]="{'is-invalid': Isactive.touched && Isactive.invalid}"
                    />
                    <div class="validation-errors" *ngIf="Isactive.touched && Isactive.invalid">
                        <div *ngIf="Isactive.errors.required">Is active required</div>
                    </div>
                    </div>

                    <!--Submit button-->
    <br>
    <br>
    <div class="form-group">
        <button type="submit" [disabled]="!(labForm.valid && labForm.dirty)" class="btn btn-lg btn-primary form-control">
            Submit</button>
    </div>

    </form>
