<div class="box">
    <div class="container">
        <h3>Enter Test ID</h3>
        <div class="form">
            <form name="testgetForm" #testgetForm="ngForm" (ngSubmit)="onSubmit(testgetForm)">
                <br>
                <div class="form-group">
                    <label for="TestId">Test Id</label>
                    <input type="text" name="TestId" #TestId="ngModel" [(ngModel)]="testService.formTest.TestId"
                        class="form-control" required [ngClass]="{'is-invalid': TestId.touched && TestId.invalid}" />
                    <div class="validation-errors" *ngIf="TestId.touched && TestId.invalid">
                        <div style="color: red; text-align: left;"  *ngIf="TestId.errors.required">Test Id is required</div>
                    </div>
                </div>

                <!--Submit button-->
                <div class="form-group">
                    <button type="submit" [disabled]="!(testgetForm.valid && testgetForm.dirty)"
                        class="btn btn btn-success btn-md">
                        Search</button>
                </div>
                <hr>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="header">
            <h5 style="text-align:center;">Test Detail</h5>
            <table class="table table-primary table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Test ID</th>
                        <th>Test No</th>
                        <th>Test Date & Time</th>
                        <th>Test Amount</th>
                        <th>Test Range</th>
                        <th>Test Description</th>
                        <th>Report No</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rep of testService.test | paginate: {itemsPerPage: 3, currentPage: page} ">
                        <td>{{rep.TestId}}</td>
                        <td>{{rep.TestNo}}</td>
                        <td>{{rep.TestDateTime}}</td>
                        <td>{{rep.TestAmount}}</td>
                        <td>{{rep.Range}}</td>
                        <td>{{rep.TestDescription}}</td>
                        <td>{{rep.ReportNo}}</td>

                        <td>
                            <button style="margin-left: 1%;" class="btn btn btn-outline-success btn-sm"><a
                                    style="text-decoration: none; color: #049204; font-size:100%;"
                                    [routerLink]="'/test'" (click)="populateForm(rep)">Edit</a></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="footer" style="margin-left: 35%;margin-right:35%;">
                <!--pagination-->
                <pagination-controls (pageChange)="page=($event)"></pagination-controls>
            </div>

        </div>
        <div>
            <br>
            <button class="btn btn-md btn-primary" type="reset" (click)="back()">Back</button>
            <button style="margin-left: 80%;" class="btn btn btn-success btn-lg"><a
                    style="text-decoration: none; color: white; font-size:100%;" [routerLink]="'/test'">Insert New
                    Test</a></button>
        </div>
    </div>