<div class="container">
    <h3>Enter Test No</h3>
    <div class="form">
        <form name="testdetailgetForm" #testdetailgetForm="ngForm" (ngSubmit)="onSubmit(testdetailgetForm)">
            <br>
        <div class="form-group">
            <label for="TestNo">Test No</label>
            <input type="text" name="TestNo" #TestNo="ngModel"
        [(ngModel)]="testDetailService.formLabT.TestNo" class="form-control" required
        [ngClass]="{'is-invalid': TestNo.touched && TestNo.invalid}"
        />
        <div class="validation-errors" *ngIf="TestNo.touched && TestNo.invalid">
            <div *ngIf="TestNo.errors.required">Test No is required</div>
        </div>
        </div>
    
    <!--Submit button-->
    <br>
        <br>
        <div class="form-group">
            <button type="submit" [disabled]="!(testdetailgetForm.valid && testdetailgetForm.dirty)" class="btn btn btn-outline-success btn-lg">
                Search</button>
        </div>
    
    </form>
    </div>
    </div>

    <div>
        <br>
        <br>
        <button style="margin-left: 1%;" class="btn btn btn-outline-success btn-lg"><a style="text-decoration: none; color: #049204; font-size:100%;" [routerLink]="'/testdetails'">Insert New Test Detail</a></button>
    </div>
    


<div class="container">
    <br>
    <div class="header">
        <h5 style="text-align: center;">Test Details table</h5>
        <br>
        
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Test No</th>
                <th>Test Name</th>
                <th>Test Unit</th>
                <th>Test Desription</th>
                <th>Is active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let test of testDetailService.testdetails | paginate: {itemsPerPage: 3, currentPage: page} ">
                <td>{{test.TestNo}}</td>
                <td >{{test.TestName}}</td>
                <td >{{test.TestName}}</td>
                <td >{{test.TestDesription}}</td>
                <td >{{test.Isactive}}</td>
                <td>
                    <!--<button class="btn btn-sm btn-outline-danger" (click)="deleteReport(rep.ReportNo)">X</button>&nbsp;-->
                    <!--<button class="btn btn-info" (click)="[routerLink]=['/labreport', rep.ReportNo]"
                        style="margin-left: 10px">Edit</button>-->
                    <button style="margin-left: 1%;" class="btn btn btn-outline-success btn-sm"><a style="text-decoration: none; color: #049204; font-size:100%;" [routerLink]="'/testdetails'" (click)="populateForm(test)">Edit</a></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

