
<form name="appointmentform" #form="ngForm" autocomplete="nope" (ngSubmit)="onSubmit(form)" class="box">
    <!--appointmentNo-->
    <input type="hidden" name="AppointmentNo" [ngModel]="frontOfficeService.formData.AppointmentNo" />

    <!--AppointmentDate-->
    <div class="form-group">
        <label>AppointmentDate</label>
        <input type="date" name="AppointmentDate" #AppointmentDate="ngModel"
            [(ngModel)]="frontOfficeService.formData.AppointmentDate" class="form-control" required [ngClass]="{ 'is-invalid': AppointmentDate.touched
         && AppointmentDate.invalid }" />
        <div class="validation-error" *ngIf="AppointmentDate.touched 
        && AppointmentDate.invalid">
            <div *ngIf="AppointmentDate.errors.required">
                Appointment Date is required</div>
        </div>
    </div>

    <!--Appointment Time-->
    <div class="form-group">
        <label>Appointment Time</label>
        <input type="time" name="AppointmentTime" #AppointmentTime="ngModel"
            [(ngModel)]="frontOfficeService.formData.AppointmentTime" class="form-control" required [ngClass]="{ 'is-invalid': AppointmentTime.touched
         && AppointmentTime.invalid }" />
        <div class="validation-error" *ngIf="AppointmentTime.touched 
        && AppointmentTime.invalid">
            <div *ngIf="AppointmentTime.errors.required">
                Appointment Time is required</div>
        </div>
    </div>
    <!--Amount-->
    <div class="gorm-group">
        <label>Amount</label>
        <input type="number" name="Amount" #Amount="ngModel" [(ngModel)]="frontOfficeService.formData.Amount"
            class="form-control" placeholder="Enter amount" minlength="1" maxlength="5" required
            [ngClass]="{'is-invalid':Amount.touched && Amount.invalid}" />
        <div class="validation-error" *ngIf="Amount.touched && Amount.invalid">
            <div *ngIf="Amount.errors.required">
                Amount is required
            </div>
        </div>
    </div>

    <!--Patient dropdown-->
    <div class="form-group">
        <label class="col-md-4">Patient</label>
        <select name="PatientId" id="PatientId" class="form-control" #PatientId="ngModel" required
            [(ngModel)]="frontOfficeService.formData.PatientId">
            <option value=0 disabled selected>Choose Patient</option>
            <option *ngFor="let patient of frontOfficeService.patients" value="{{patient.PatientId}}">
                {{patient.PatientName}}
            </option>
        </select>
        <div class="validation-error" *ngIf="PatientId.touched 
        && PatientId.invalid">
            <div *ngIf="PatientId.errors.required">
                Patient is required</div>
        </div>
    </div>

    <!--Doctor dropdown-->
    <div class="form-group">
        <label class="col-md-4">Doctor</label>
        <select name="DoctorId" id="DoctorId" class="form-control" #DoctorId="ngModel" required
            [(ngModel)]="frontOfficeService.formData.DoctorId">
            <option selected value=0 disabled>Choose Doctor</option>
            <option *ngFor="let doctor of frontOfficeService.doctors" value="{{doctor.DoctorId}}">{{doctor.StaffName}}
            </option>
        </select>
        <div class="validation-error" *ngIf="DoctorId.touched 
        && DoctorId.invalid">
            <div *ngIf="DoctorId.errors.required">
                Doctor is required</div>
        </div>
    </div>

    <!--Is Active-->
    <br>
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label"></label>
            <input type="hidden" name="Isactive" id="Isactive" #Isactive="ngModel"
                [(ngModel)]="frontOfficeService.formData.Isactive" class="form-check-input">
        </div>
    </div>

    <!--Submit Button-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="reset" class="btn btn-lg btn-primary me-md-2" (click)="back()">Back</button>
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-success me-md-2">Submit</button>
            <!--Appointment Button-->
    </div>
    <!--Appointment Button-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-right:80%;">
        <button type="reset" class="btn btn-md btn-secondary me-md-2" (click)="view()">View Appointments</button>
    </div>
</form>