<div class="header">
    <h5 style="text-align: center;"> <b style="font-weight: bolder;">BILL FOR PID {{this.billService.bpid}}</b></h5>
    <br>
</div> 
    
    <div class="container">
        <table class="table table-hover text-center table-bordered">        
            <thead>            
                <tr class="table-dark">
                    <th scope="col">Prescription ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Medicine</th>
                    <th scope="col">Company</th>
                    <th scope="col">Dosage</th>
                    <th scope="col">Days</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Total</th>
                </tr>        
            </thead>

            
            <tbody>
                <tr *ngFor="let item of this.billService.medicineModel">
                    <td>  {{item.PrescriptionId}}  </td>
                    <td>  {{item.PrescriptionDate | date:'mediumDate'}}  </td>  
                    <td>  {{item.MedicineName}}  </td>       
                    <td>  {{item.MedicineCompany}}  </td>  
                    <td>  {{item.DosageFreq}}  </td>   
                    <td>  {{item.NoOfDays}}  </td>
                    <td>  {{item.MedicineAmount}}  </td>
                    <td>  {{calc(item.DosageFreq, item.NoOfDays, item.MedicineAmount)}}  </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Total</th>
                    <td>{{this.billService.medTotal}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <div class="container">
        <table class="table table-hover text-center table-bordered">        
            <thead>            
                <tr class="table-dark">
                    <th scope="col">Prescription ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Notes</th>
                    <th scope="col">TestName</th>
                    <th scope="col"> Amount</th>
                    
                </tr>        
            </thead>

            <tbody>
                <tr *ngFor="let item of this.billService.testBillModel">
                    <td>  {{item.PrescriptionId}}  </td>
                    <td>  {{item.PrescriptionDate | date:'mediumDate'}}  </td>  
                    <td>  {{item.Notes}}  </td>       
                    <td>  {{item.TestName}}  </td>  
                    <td>  {{item.Amount}}  </td>  
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Total</th>
                    <td>{{this.billService.testTotal}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <table class="table table-hover text-center table-bordered">
        <tr>
            <td> Total </td>
            <td> {{this.billService.total}} </td>
        </tr>
        
    </table>
<br>
<br>
<div class="container">
        <div class="row text-center">
            <div class="col">
                <button class="btn btn-success" type="button" (click)= "pay()">Pay Bill</button>
            </div>
        </div>
    </div>
    
