<p>admin works!</p>
<header>
    <div class="container">
        <h5>Welcome Admin : {{loggedUserName | titlecase}}</h5>
    </div>
    <nav class="navbar navbar-dark bg-light navbar-expand">
        <div class="container">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink='/stafflist'>View Staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink='/staff'>Add Staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink='/doctorlist'>View Doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logout()">Logout</a>
            </li>
        </div>
    </nav>

</header>
