<h2 style="text-align:center; font-size:200%; font-family: 'Times New Roman', Times, serif;">Patient Registration</h2>
<div class="col-md-3"  name="PaReg" style="margin: 0 auto;">


<div class="form" style="justify-content: center;">
    <form name="labForm" #labForm="ngForm" (ngSubmit)="onSubmit(labForm)">

        <!--PatientId-->
        <div class="form-group">
            <label for="PatientId"></label>
            <input type="hidden" name="PatientId" #PatientId="ngModel" [(ngModel)]="patService.formPatient.PatientId"
                class="form-control" required [ngClass]="{'is-invalid': PatientId.touched && PatientId.invalid}" />
                <!--<span style="color: red;"> Keep Report No as 0 for inserting report</span>-->

            <div class="validation-errors" *ngIf="PatientId.touched && PatientId.invalid">
                <div *ngIf="PatientId.errors.required">Patient Id is required</div>
            </div>
        </div>


    <!--PatientName-->
    <div class="form-group">
        <label for="PatientName">Patient Name</label>
        <input type="text" name="PatientName" #PatientName="ngModel" [(ngModel)]="patService.formPatient.PatientName"
            class="form-control" required [ngClass]="{'is-invalid': PatientName.touched && PatientName.invalid}" />
            <!--<span style="color: red;"> Keep Report No as 0 for inserting report</span>-->

        <div class="validation-errors" *ngIf="PatientName.touched && PatientName.invalid">
            <div *ngIf="PatientName.errors.required">Patient Name is required</div>
        </div>
    </div>

    <!--DateOfBirth-->

    <br>
        <div class="form-group">
            <label for="DateOfBirth">Date Of Birth</label>
            <input type="date" name="DateOfBirth" #DateOfBirth="ngModel" [(ngModel)]="patService.formPatient.DateOfBirth"
                class="form-control" required [ngClass]="{'is-invalid': DateOfBirth.touched && DateOfBirth.invalid}" />
            <div class="validation-errors" *ngIf="DateOfBirth.touched && DateOfBirth.invalid">
                <div *ngIf="DateOfBirth.errors.required">Date Of Birth is required</div>
            </div>

        </div>

    <!--PatientAddress-->
        <br>
    <div class="form-group">
        <label for="PatientAddress">Patient Address</label>
        <input type="text" name="PatientAddress" #PatientAddress="ngModel" [(ngModel)]="patService.formPatient.PatientAddress"
            class="form-control" required [ngClass]="{'is-invalid': PatientAddress.touched && PatientAddress.invalid}" />
            <!--<span style="color: red;"> Keep Report No as 0 for inserting report</span>-->

        <div class="validation-errors" *ngIf="PatientAddress.touched && PatientAddress.invalid">
            <div *ngIf="PatientAddress.errors.required">Patient Address is required</div>
        </div>
    </div>

    <!--PhoneNumber-->
    <br>
    <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <input type="text" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="patService.formPatient.PhoneNumber"
            class="form-control" required [ngClass]="{'is-invalid': PhoneNumber.touched && PhoneNumber.invalid}" />
            <!--<span style="color: red;"> Keep Report No as 0 for inserting report</span>-->

        <div class="validation-errors" *ngIf="PhoneNumber.touched && PhoneNumber.invalid">
            <div *ngIf="PhoneNumber.errors.required">Phone Number is required</div>
        </div>
    </div>

    <!--Isactive-->

    <br>
    <div class="form-group">
        <label for="Isactive">Is active</label>
        <input type="checkbox" style="margin-right: 1%; margin-top:1%;" name="Isactive" #Isactive="ngModel"
            [(ngModel)]="patService.formPatient.Isactive" required
            [ngClass]="{'is-invalid': Isactive.touched && Isactive.invalid}" />
        <div class="validation-errors" *ngIf="Isactive.touched && Isactive.invalid">
            <div *ngIf="Isactive.errors.required">Is active required</div>
        </div>
    </div>

    <!--Submit-->
    <br>
        <br>
        <div class="form-group">
            <button type="submit" [disabled]="!(labForm.valid && labForm.dirty)"
                class="btn btn-lg btn-primary form-control">
                Submit</button>
        </div>

        </form>
        </div>
    </div>