<!--Generate Lab Report : Means click on this button, redirects to the insert lab form and stores data into lab report form-->
<!--View Test and Test details : Seperate buttons when clicked upon redirects to the view page of test and test details-->

<div class="buttonsd">
<!-- New Lab Report Button-->
<div>
    <br>
    <button style="margin-left: 1%;" class="btn btn btn-outline-success btn-lg"><a style="text-decoration: none; color: #049204; font-size:100%;" [routerLink]="'/labreport'">New Lab report</a></button>
</div>


<!--View Lab report button-->

<div>
    <br>
    <button style="margin-left: 1%;" class="btn btn btn-outline-success btn-lg"><a style="text-decoration: none; color: #049204; font-size:100%;" [routerLink]="'/getreportlab'">View Lab Report</a></button>
</div>


<!--Insert or Update new test button-->

<div>
    <br>
    <button style="margin-left: 1%;" class="btn btn btn-outline-success btn-lg"><a style="text-decoration: none; color: #049204; font-size:100%;" [routerLink]="'/test'">Add Test</a></button>
</div>

<!--View test button-->

<div>
    <br>
    <button style="margin-left: 1%;" class="btn btn btn-outline-success btn-lg"><a style="text-decoration: none; color: #049204; font-size:100%;" [routerLink]="'/viewtest'">View Tests</a></button>
</div>


<!--Insert or Update new test details button-->

<div>
    <br>
    <button style="margin-left: 1%;" class="btn btn btn-outline-success btn-lg"><a style="text-decoration: none; color: #049204; font-size:100%;" [routerLink]="'/testdetails'">Add Test Details</a></button>
</div>

<!--View test details button-->

<div>
    <br>
    <button style="margin-left: 1%;" class="btn btn btn-outline-success btn-lg"><a style="text-decoration: none; color: #049204; font-size:100%;" [routerLink]="'/viewtestdetails'">View Test Details</a></button>
</div>
</div>


